.idea/
/backend/mistral-7b-instruct-v0.2.Q8_0.gguf
/backend/.venv
/backend/local_models
/backend/.locks
/backend/__pycache__
/backend/milvus_demo.db
/backend/.milvus_demo.db.lock
/backend/backend/nltk_data